<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/show.css" th:href="@{/css/show.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/card.css" th:href="@{/css/card.css}">

</head>
<body>

<div th:insert="blocks/header :: header"></div>

<div th:insert="blocks/card :: card_2" class="container mt-5 mb-5">
</div>

<footer>
    <div th:insert="blocks/footer :: footer"></div>
</footer>

</body>
</html>